* {
  margin: 0.5rem 0;
}
.Comentario {
  padding: 0.3rem;
  background-color: #eee;
  margin-bottom: 0.5rem;
  border: 1px solid #555;
  width: 30rem;
}

.font {
  font-size: 14px;
}

input, div, textarea, button {
  margin: 0.2rem 0;

}
input, textarea{
  background-color: #eee;
}

form {
  width: 30%;
  padding: 0.5rem;
  text-align: left;
  border: 1px solid gray;
}

.imagem {
  height: 40px;
  width: 40px;
}